<!doctype html>
<html lang="nl">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{ title | default("MPCNetwork") }}</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
</head>
<body>
  {% include "header.html" %}
  <main class="container py-4">
    {{ content | safe }}
  </main>
  {% include "footer.html" %}
  <script src="/js/include.js"></script>
</body>
</html>
