---
layout: layouts/base.njk
title: MPCNetwork JavaScript Oefeningen
---

<div class="row">
  <div class="col-sm-12">
    <h2 class="text-white">Inhoudstafel</h2>
    <ul>
      <li><a href="javascriptoefenbundeloef1.html">Javascript oef 1</a></li>
      <li><a href="javascriptoefenbundeloef2.html">Javascript oef 2</a></li>
      <li><a href="javascriptoefenbundeloef3.html">Javascript oef 3</a></li>
      <li><a href="javascriptoefenbundeloef4.html">Javascript oef 4</a></li>
      <li><a href="javascriptoefenbundeloef5.html">Javascript oef 5</a></li>
      <li><a href="javascriptoefenbundeloef6.html">Javascript oef 6</a></li>
    </ul>
    <p>
      <a class="btn btn-primary-translucent border mt-2 bg-8 text-white" href="javascriptoefenbundelhome.html">MPCNetwork home</a>
    </p>
  </div>
</div>
